/*This portfolio was made using the tutorial by Daily Tuition https://www.youtube.com/watch?v=dgKSqz3it50 
 */

/* @font-face */ 

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}


/*
@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-Light.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-Black.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-BlackItalic.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-Bold.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-BoldItalic.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-BlackItalic.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-Italic.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-Light.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto ';
	font-style: normal;
	src: url('../fonts/Roboto-Medium.ttf');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Dual-300.ttf') format('truetype');
}

*/




